# Customer Retention Rates: Part 2 of Store Analysis
#### by ***Wayne Omondi***

## 1.0: Introduction

One of the best things for any business is to establish returning customers. Any company that wants to succeed must keep a close eye on its customer retention metrics. There’s a simple, economic reason why customer retention is so important: Keeping your existing customers is a lot less expensive than trying to win new ones. Loyal customers also contribute to your business’ health by providing referrals, promoting your brand on social media, and giving feedback to improve your product or service. So, it’s critical for companies to keep an eye on their customer retention rate.

***How do you calculate customer retention rate?***<br>
To determine our retention rate, first we have to identify the time frame you want to study. Next, collect the number of existing customers at the start of the time period. Then find the number of total customers at the end of the time period.

For this we will explore the concept of a ***cohort***. A cohort is <ins>a group of subjects that share a defining characteristic.</ins> 
>A cohort has three main attributes:
>1. time
>2. size
>3. behaviour

### 1.1: Steps

1. __Data Loading and Preparation__
 > importing our dataset
 > cleaning it
 >preparing it.<br> 
2. __Assigning Cohorts__
 >

3. __Cohort Indexing__

4. __Visualization__

5. __Interpretation__

## 2.0: Data Loading and Prep

First we import the libraries we will need to use

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Enable our notebook to ignore all warnings

In [2]:
import warnings
warnings.filterwarnings("ignore")

We will use the SuperStore dataset from [Part 1. EDA Project](https://github.com/WayneNyariroh/StoreSales_Analysis)<br>
Let's import our dataset using read_csv()

In [3]:
store_df = pd.read_csv(r"C:\Users\FatherMammoth\Documents\PortfolioPorjects\SalesAnalysis\data\SuperStoreSales_Whole.csv")

In [4]:
store_df.info() #see our rows, columns, non-null values and datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
 18  Quantity       9800 non-null   int64
 19  Discount       9800 non-null   float64
 20  Profit         9800 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

After seeing our columns, we do not need a good number of them. The two most important columns for our cohort analysis are the *Order Date* and *Customer ID*. As such we have to check for any missing values in those two column.

In [5]:
store_df[['Order ID','Order Date','Customer ID','Sales']].isnull().sum()

Order ID       0
Order Date     0
Customer ID    0
Sales          0
dtype: int64

Let's create a new dataframe that has only the columns we need

In [6]:
customer_df = store_df[['Order ID','Order Date','Customer ID','Sales']]

In [7]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     9800 non-null   object
 1   Order Date   9800 non-null   object
 2   Customer ID  9800 non-null   object
 3   Sales        9800 non-null   float64
dtypes: float64(1), object(3)
memory usage: 306.4+ KB

In [14]:
customer_df

            Order ID  Order Date Customer ID     Sales
0     CA-2017-152156   8/11/2017    CG-12520  261.9600
1     CA-2017-152156   8/11/2017    CG-12520  731.9400
2     CA-2017-138688   12/6/2017    DV-13045   14.6200
3     US-2016-108966  11/10/2016    SO-20335  957.5775
4     US-2016-108966  11/10/2016    SO-20335   22.3680
...              ...         ...         ...       ...
9795  CA-2017-125920  21/05/2017    SH-19975    3.7980
9796  CA-2016-128608   12/1/2016    CS-12490   10.3680
9797  CA-2016-128608   12/1/2016    CS-12490  235.1880
9798  CA-2016-128608   12/1/2016    CS-12490   26.3760
9799  CA-2016-128608   12/1/2016    CS-12490   10.3840

[9800 rows x 4 columns]

Our dataset has 9800 entries that translates to 9800 purchases by cutsomers. Each purchase (*Order ID*) has a corresponding Customer ID. Let's see how many unique customer IDs we have in our dataset

In [13]:
customer_df['Customer ID'].nunique()

793

793 Customers are responsible for the 9800 Orders. This indicticative of returning customers. In the tail of our dataframe above, we can observe that Customer ID CS-12490 is responsible for orders in entries 9796 to 9799.

Let's see how many times a customer's id appears in our dataframe, and an indicator of how many orders they made with the store for the time period in the dataset

Lets check the customers how have made the most orders (top 20)

In [54]:
customer_df['Customer ID'].value_counts().head(20)

WB-21850    35
MA-17560    34
PP-18955    34
JL-15835    33
CK-12205    32
JD-15895    32
SV-20365    32
EP-13915    31
ZC-21910    31
AP-10915    31
LC-16870    30
KL-16645    29
BM-11650    29
GT-14710    29
Dp-13240    29
CS-12250    28
XP-21865    28
KD-16495    28
CL-12565    28
KM-16720    28
Name: Customer ID, dtype: int64

## 3.0: Assigning Cohorts

As stated in the introduction the whole idea behind customer retention is having repeat purchases from that same client and a cohort being a group of subjects with a defining characteristics. In our case a customer cohort will be composed of all the customers who made their first purchase with the store on a given time period.

In [9]:
customer_df

            Order ID  Order Date Customer ID     Sales
0     CA-2017-152156   8/11/2017    CG-12520  261.9600
1     CA-2017-152156   8/11/2017    CG-12520  731.9400
2     CA-2017-138688   12/6/2017    DV-13045   14.6200
3     US-2016-108966  11/10/2016    SO-20335  957.5775
4     US-2016-108966  11/10/2016    SO-20335   22.3680
...              ...         ...         ...       ...
9795  CA-2017-125920  21/05/2017    SH-19975    3.7980
9796  CA-2016-128608   12/1/2016    CS-12490   10.3680
9797  CA-2016-128608   12/1/2016    CS-12490  235.1880
9798  CA-2016-128608   12/1/2016    CS-12490   26.3760
9799  CA-2016-128608   12/1/2016    CS-12490   10.3840

[9800 rows x 4 columns]

In [10]:
import datetime as dt

In [11]:
def column_month(x): #create a function that when called returns a date in form of year, month and first
    return dt.datetime(x.year, x.month,1)

In [12]:
customer_df['Order Month'] = customer_df['Order Date'].apply(column_month)

AttributeError: 'str' object has no attribute 'year'